node_modules/
.DS_Store
.expo/
dist/
coverage/
*.log
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
ios/
android/
GoogleService-Info.plist
google-services.json
config/firebase/GoogleService-Info.plist

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
